#textarea, #highlighting {
  padding: var(--generalGap);
  bottom: 0;
  height: calc(  100% - 5 * var(--generalGap) - var(--ioDwHeight));
  /* height: calc(100% - 5 * var(--generalGap)); */
  /* height: calc( 50% - var(--generalGap) ); */
}

.ioDwEl {
  width: var(--ioDwWidth);
  height: var(--ioDwHeight);
}