/*  */

:root {
  --dwWidth: 180px;
  --dwAspect: 16/9;
  --dwHeight: calc(var(--dwWidth) / (var(--dwAspect)));
  --generalGap: 6px;
}

#canvas3d, #ourSvg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: block;

  pointer-events: none;
}

.dwEl {
  margin: var(--generalGap);
  padding: 0px;
  border: 0px;

  position: absolute;

  width: var(--dwWidth);
  height: var(--dwHeight);
}

#ourSvg {
  z-index: 2;
}
#canvas3d {
  z-index: 1;
}
#textarea {
  z-index: 1;
}
#highlighting {
  z-index: 0;
}

/* TEXT STUFF */

#textarea, #highlighting, #errorBox, #equationArea {
  margin: var(--generalGap);
  border: 0;

  width: calc(100% - 5 * var(--generalGap) - var(--dwWidth));

  position: absolute;
  left: 0;
}

#equationArea {
  padding: var(--generalGap);
  top: 0;
  height: calc( 50% - var(--generalGap))
}

#textarea, #highlighting {
  padding: var(--generalGap);
  bottom: 0;
  height: calc(  100% - 5 * var(--generalGap) - var(--dwHeight));
  /* height: calc( 50% - var(--generalGap) ); */
}

#errorBox {
  padding: 0px;
  top: 100;
  background-color: rgb(106, 106, 106);
}

#textarea, #highlighting, #textMeasurer, #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 9pt;
  font-family: monospace;
  line-height: 12pt;
  tab-size: 4;
}

#textMeasurer {
  position: absolute;
  top: -100px;
  padding: 0px;
}

/* Make textarea almost completely transparent */

#textarea {
  color: transparent;
  background: transparent;
  caret-color: white; /* Or choose your favourite color */
}

/* Can be scrolled */
#textarea, #highlighting {
  overflow: auto;
  white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#textarea {
  resize: none;
}


/* Drodown */

/* .dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100px;
  background-color: #0abf53;

  z-index: 3;
}

.dropdown li {
  position: relative;
}

.dropdown li a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown li ul {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  line-height: normal;
  background-color: #333;
}

.dropdown li ul li a {
  text-align: left;
  color: #cccccc;
  font-size: 14px;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.dropdown li ul li a:hover {
  background-color: #0abf53;
  color: #ffffff;
}

.dropdown li ul li ul {
  left: 100%;
  top: 0;
}

ul li:hover>a {
  background-color: #0abf53;
  color: #ffffff !important;
}

ul li:hover>ul {
  display: block;
} */


/* Syntax Highlighting from prism.js starts below, partly modified: */


/* PrismJS 1.27.0
https://prismjs.com/download.html#themes=prism-dark&languages=clike+c+glsl&plugins=line-highlight+line-numbers */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}

.token.punctuation {
  color: #F8F8F2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #F92672;
}

.token.boolean,
.token.number {
  color: #AE81FF;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A6E22E;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #F8F8F2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #E6DB74;
}

.token.keyword {
  color: #F92672;
}

.token.regex,
.token.important {
  color: #FD971F;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}