#editing, #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 10px;
  padding: 10px;
  border: 0;

  width: calc(100% - 345px);
  height: calc(100% - 40px);

  /* In the same place */
  position: absolute;
  top: 0;
  left: 0;
}

#renderingCanvas{
  
  width: 100vw;
  height: 100vh;
  
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  z-index: 1;
}

#topRightWindow {
  margin: 10px;
  padding: 10px;
  border: 0;

  width: 270px;
  height: 270px;

  position: absolute;
  top: 0;
  right: 0px;
}

#inlineWindow {
  margin: 0px;
  padding: 0px;
  border: 0px;

  width: 100px;
  height: 100px;

  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

#editing, #highlighting, #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 10pt;
  font-family: monospace;
  line-height: 14pt;
  tab-size: 2;
}



/* Move the textarea in front of the result */

#editing {
  z-index: 1;
}
#highlighting {
  z-index: 0;
}


/* Make textarea almost completely transparent */

#editing {
  color: transparent;
  background: transparent;
  caret-color: white; /* Or choose your favourite color */
}

/* Can be scrolled */
#editing, #highlighting {
  overflow: auto;
  white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
  resize: none;
}

/* Paragraphs; First Image */
* {
  font-family: "Fira Code", monospace;
}
p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}


/* Syntax Highlighting from prism.js starts below, partly modified: */


/* PrismJS 1.27.0
https://prismjs.com/download.html#themes=prism-dark&languages=clike+c+glsl&plugins=line-highlight+line-numbers */
code[class*=language-],
pre[class*=language-] {
  color: #fff;
  background: 0 0;
  text-shadow: 0 -.1em .2em #000;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

@media print {

  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none
  }
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
  background: #4c3f33
}

pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border: .3em solid #7a6651;
  border-radius: .5em;
  box-shadow: 1px 1px .5em #000 inset
}

:not(pre)>code[class*=language-] {
  padding: .15em .2em .05em;
  border-radius: .3em;
  border: .13em solid #7a6651;
  box-shadow: 1px 1px .3em -.1em #000 inset;
  white-space: normal
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #997f66
}

.token.punctuation {
  opacity: .7
}

.token.namespace {
  opacity: .7
}

.token.boolean,
.token.constant,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #d1939e
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #bce051
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #f4b73d
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #d1939e
}

.token.important,
.token.regex {
  color: #e90
}

.token.bold,
.token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.token.deleted {
  color: red
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: hsla(24, 20%, 50%, .08);
  background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre
}

@media print {
  .line-highlight {
    -webkit-print-color-adjust: exact;
    color-adjust: exact
  }
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: hsla(24, 20%, 50%, .4);
  color: #f4f1ef;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px #fff
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em
}

.line-numbers .line-highlight:after,
.line-numbers .line-highlight:before {
  content: none
}

pre[id].linkable-line-numbers span.line-numbers-rows {
  pointer-events: all
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:before {
  cursor: pointer
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before {
  background-color: rgba(128, 128, 128, .2)
}

pre[class*=language-].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
  position: relative;
  white-space: inherit
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.line-numbers-rows>span {
  display: block;
  counter-increment: linenumber
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right
}