#textarea, #highlighting {
  padding: var(--generalGap);
  bottom: 0;
  height: calc( 50% - 1.5 * var(--generalGap) );
}

#equationarea {
  padding: var(--generalGap);
  top: calc( var(--generalGap) );
  height: calc(50% - 1.5 * var(--generalGap));

  font-size: 17px
}